<header class="page-header">
  <div class="page-header__container container">
    <div class="page-header__logo">
      <a href="#" class="logo">
        <img src="./images/logo.svg" width="32" height="32" />
      </a>
      <a href="#" class="page-header-link">
        <img
          src="./images/Category.svg"
          class="page-header-icon"
          width="32px"
          height="32px"
        />
        Мои квизы
      </a>
    </div>
    <nav class="page-nav">
      <ul class="page-nav-list">
        <li class="page-nav-item">
          <a href="#" class="page-header-link current-link">
            <img
              src="./images/Edit.svg"
              class="page-header-icon"
              width="32px"
              height="32px"
            />
            Квиз
          </a>
        </li>
        <li class="page-nav-item">
          <a href="#" class="page-header-link">
            <img
              src="./images/Setting.svg"
              class="page-header-icon"
              width="32px"
              height="32px"
            />
            Настройки
          </a>
        </li>
        <li class="page-nav-item">
          <a href="#" class="page-header-link">
            <img
              src="./images/Send.svg"
              class="page-header-icon"
              width="32px"
              height="32px"
            />
            Заявки
          </a>
        </li>
        <li class="page-nav-item">
          <a href="#" class="page-header-link">
            <img
              src="./images/Chart.svg"
              class="page-header-icon"
              width="32px"
              height="32px"
            />
            Аналитика
          </a>
        </li>
      </ul>
    </nav>
    <ul class="page-user-list">
      <li class="page-user-item">
        <a href="#" class="page-header-link">
          <img
            src="./images/Show.svg"
            class="page-header-icon"
            width="32px"
            height="32px"
          />
          Посмотреть
        </a>
      </li>
      <li class="page-user-item">
        <a href="#" class="page-header-link current-box">
          <img
            src="./images/Box.png"
            class="page-header-icon"
            width="32px"
            height="32px"
          />
          Upgrade
        </a>
      </li>
      <li class="page-user-item">
        <a href="#"> <img src="./images/User.png" alt="" width="40px" /></a>
      </li>
    </ul>
  </div>
</header>
